 
 
 body {

    margin: 0;
    
    padding: 0;
    
    height: 100vh;
    
    display: flex;
    
    justify-content: center;
    
    align-items: center;
    
    background: linear-gradient(135deg, #2d80ec, #d13c48);
    
    font-family: 'Arial', sans-serif;
    
    overflow: hidden;
    
    }
    
    .clock-container {
    
    text-align: center;
    
    background: rgba(12, 12, 12, 0.085);
    
    padding: 40px 20px;
    
    border-radius: 20px;
    
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    
    animation: glow 4s infinite;
    
    }
    
    #clock {
    
    font-size: 60px;
    
    font-weight: bold;
    
    color: #ffffff;
    
    text-shadow: 1px 1px 4px #cee40a;
    
    margin: 0;
    
    }


    
    @keyframes glow {
    
    0% { box-shadow: 0 10px 30px rgba(255, 255, 255, 0.2); }
    
    50% { box-shadow: 0 10px 60px rgba(255, 255, 255, 0.5); }
    
    100% { box-shadow: 0 10px 30px rgba(255, 255, 255, 0.2); }
    
    }

   #date{
      font-size: larger;
      color: azure;
      font-weight: bolder;
      text-shadow: 1px 0.5px 3px cornflowerblue;
   }